/* 헤더 nav */
header{width: 100%; height: 150px; margin: 0 auto;
    position: fixed; top: 0; /* width: 100% */ left: 0; right: 0; z-index: 20;
  backdrop-filter: blur(12px);} 
    header div {width: 1400px; height: 150px; margin: 0 auto; display: flex; justify-content: flex-end; align-items: center;}
    header div nav{width: 492px; height: 64px; float: left; margin:44px 0; display: flex; justify-content: space-between; align-items: center;}
    header > div ul li{list-style:none; float: left; margin: 10px 0; margin-right: 28px;
            font-size: 20px; position: relative;}
    header div ul li:nth-child(5){margin-right: 0;}
    header div ul li a{text-decoration: none; color:#4A2904; font-weight: bold;}
    header div  ul {
        display: inline;
        margin: 0;
        padding: 0;
      }
      ul li {display: inline-block;}
      
      ul li:hover ul {display: block;}
      ul li ul {
        position: absolute;
        width: 136px;
        display: none;
        top: 30px;
        left: -10px;
        background-color: rgb(196, 173, 143, 0.8);
        
        padding: 10px;
      }
      ul li ul li {display: block;}
      ul li ul li a {font-size: 14px; color: #fff; margin: 0; display:block !important;}
    

/* nav hover */
ul li a:hover{color:#f37e7e;}


/* 로고 */
    #logo{width: 88px; height: 62px; margin: 0 auto;}

/* 로그인 */
    #icon{width: 138px; height: 64px; float: left; margin: 44px 0; }

    .search-box{padding: 0; margin: 0; box-sizing: border-box; background: #FFE7CC; height: 24px;
         border-radius: 34px; width: 354px; height: 34px; display: flex; align-items: center;
         justify-content: center;}
        .search-box input::placeholder{color: #af987e;}
        .search-btn{color: #4A2904; float: right; width: 24px; height: 24px; border-radius: 50%; background-color: #FFE7CC;
        border: none; margin: 12px;}
        .search-txt{float: left; padding: 0 80px 0 20px; background:none; border: none; outline: none; line-height: 50px;}